<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria Lomito</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/Css/Estilos.css">
    <link rel="shortcut icon" href="../static/Img/icono.ico">
</head>
<body>
    
    <!-- {% block body %} -->
    <header class="header fixed-top">

        <div class="container">
            <div class="row align-items-center justify-content-between">
                <a href="../templates/Index.html" class="logo">Veteri<span>naria</span></a>

                <nav class="nav">
                    <a href="../templates/Index.html">Inicio</a>
                    <a href="../templates/Especialidades.html">Especialidades</a>
                    <a href="../templates/Servicios.html">Servicios</a>
                    <a href="../templates/Quienes Somos.html">Quienes Somos</a>
                </nav>

                <a href="../templates/Login.html" class="btn">Iniciar Sesion</a>
            </div>
        </div>
    </header>

    
<!-- services section starts  -->

<section class="servicios" id="servicios">

    <h2 class="heading">Nuestros <span>Servicios</span></h2>
 
    <div class="box-container container">
 
       <div class="box">
          <img src="../static/Img/Servicios01.svg" alt="">
          <h3>Estetica</h3>
          <p>La Clínica Veterinaria lomito cuenta con expertos estilistas en el
             arreglo de todas las razas de perros y gatos, las mascotas son bañadas 
             con agua caliente y los shampoo y jabones de la más alta calidad.</p>
       </div>
 
       <div class="box">
          <img src="../static/Img/Servicios02.png" alt="">
          <h3>Medicina Preventina</h3>
          <p>contamos con excelentes programas de medicina preventiva como es la aplicación 
            de vacunas para perros, gatos y hurones de los laboratorios más reconocidos y 
            con los distribuidores  del ramo que se han destacado por el mantenimiento de 
            la cadena fría para que los biológicos al ser aplicados a su mascota se 
            encuentren en perfectas condiciones.</p>
       </div>
 
       <div class="box">
          <img src="../static/Img/Servicios03.png" alt="">
          <h3>Consulta</h3>
          <p>cuenta con médicos veterinarios expertos en diferentes disciplinas y con la metodología 
            necesaria para llegar a los diagnósticos que permitirán enfocar los tratamientos de manera 
            eficiente y oportuna, seguimos a detalle el expediente clínico orientado a problemas, 
            en el que al conjuntar los datos generales, la historia clínica y el examen clínico 
            podemos arrojar la lista de problemas que nos permitirá agrupar los signos de acuerdo 
            a problemas específicos y recomendar las pruebas de laboratorio e imageniología complementarias.</p>
       </div>
 
       <div class="box">
          <img src="../static/Img/Servicios04.svg" alt="">
          <h3>cirugía</h3>
          <p>contamos con quirófano equipado con anestesia inhalada y monitores trans quirúrgicos en donde al 
            anestesista se le permite visualizar permanentemente las constantes de las mascotas como son el 
            electrocardiograma, frecuencia respiratoria, cantidad de oxigeno y bióxido de carbono circulante 
            en el organismo de nuestra mascota, entre otras  mientras son intervenidas quirúrgicamente, 
            nuestro quirófano cuenta también con la instrumentación suficiente para la práctica de cirugía 
            en tejidos blandos y ortopedia contando con expertos cirujanos en diferentes disciplinas.</p>
       </div>
 
       <div class="box">
          <img src="../static/Img/Servicios05.png" alt="">
          <h3>Etología (medicina de la conducta)</h3>
          <p>Personal certificado en la conducta animal: mal comportamiento, agresividad, etc.
            La medicina de la conducta es la disciplina de la medicina veterinaria encargada de prevenir y 
            corregir enfermedades conductuales como la depresión, síndromes como: auto mutilación, 
            persecución de cola y otras que son degradantes para nuestras mascotas y deterioran 
            la relación humano-animal.</p>
       </div>
 
       <div class="box">
          <img src="../static/Img/Servicios06.gif" alt="">
          <h3>Servicio a domicilio</h3>
          <p>Previa cita contamos con transporte para su mascota para el servicio de estética.</p>
          <p>El servicio a domicilio aplica para toda la ciudad de Tuxtla Gutiérrez</p>
       </div>
 
    </div>
 
 </section>
 
 <!-- services section ends
 {% endblock %} -->
</body>
</html>